/* ADD YOUR STYLES HERE */
a {
    text-decoration: none;
    color: white;
}

/*Horizontally Spaced Elements*/

.container {
    text-align: center;
}

.container img{
    display: inline-block;
    vertical-align: top;
    padding: 25px;
}

.container .container-item {
    display: inline-block;
    vertical-align: top;
    padding: 25px;
}

/* Vertically Spaced Elements*/

.container-2 {
    text-align: left;
}

.container-2 .container-item {
    padding: 100px 0;
}

/*Horizontal List */

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    display: inline;
    float: left;
}

/* Buttons */

.button {
    background-color: #E9818A;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#buy-now {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    line-height: 60px;
    font-size: 26px;
}

#learn-more {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    font-size: 18px;
}

#ok {
    width: 40px;
    height: 25px;
    border-radius: 5px;
    line-height: 25px;
    font-size: 14px;
}

.button.btn-other {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    font-size: 18px;
}

.button.btn-other {
    border: none;
    color: white;
}

/* Navigation */

nav {
    margin-left: -40px;
}

nav ul li {
    background-color: #E9818A;
    display: inline-block;
    float: left;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

nav ul li:hover {
    background-color: pink;
}

nav ul li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav ul li:last-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Pagination */

ol.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ol.pagination li {
    display: inline;
}

ol.pagination .nav-btn{
    border-bottom: none;
}

ol.pagination li a {
    color: lightgrey;
    font-weight: 500;
    text-decoration: none;
    float: left;
    padding: 8px 10px;
    margin: 5px;
    border-bottom: 3px solid #E9818A;
}

ol.pagination li span {
    color: lightgrey;
    font-weight: 500;
    text-decoration: none;
    float: left;
    padding: 8px 10px;
    margin: 5px;
    border-bottom: 3px solid lightgrey;
}

/* Comment Stream */

.cmmnt {
    padding-top: 15px;
    padding-bottom: 15px;
}

.cmmnt .cmmnt-img {
    float: left;
}

.cmmnt .cmmnt-content {
    margin-left: 90px;
}

.cmmnt .cmmnt-reply .cmmnt-reply-img {
    float: left;
}

.cmmnt .cmmnt-reply .cmmnt-reply-content {
    margin-left: 80px;
}

.ccmnt time {
    font-size: 12px;
    color: lightgrey;
}

.cmmnt p {
    margin-top: 0em;
    margin-bottom: 2em;
}

/* Tabs */

.tabs {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    margin-bottom: -1px;
}

.tabs li {
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-color: #ACA8DF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs li a {
    display: inline-block;
    color: blue;
    text-decoration: none;
    text-align: center;
    line-height: 5px;
    vertical-align: middle;
    padding: 10px 20px;
}

.content {
    max-width: 650px;
    border: 1px solid #ACA8DF;
    border-radius: 5px;
    padding: 20px;
}

.content p {
    padding-left: 20px;
    padding-right: 20px;
}

#active {
    border-bottom: 1px solid white;
}

/* Tabs */

.tabs {
    margin: 0px auto 0px auto;
    width: 300px;
}

#tabbed-area {
    border: 1px solid #494e52;
    background-color: #636d76;
    padding: 8px;
}

ul.tabs {
    margin: 0px; padding: 0px;
}
ul.tabs li {
    list-style: none;
    display: inline;
}
ul.tabs li a {
    background-color: #464c54;
    color: #ffebb5;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    font-size: 9px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #464c54;
}
ul.tabs li a:hover{
    background-color: #2f343a;
    border-color: #2f343a;
}
ul.tabs li .active{
    background-color: #ffffff;
    color: #282e32;
    border: 1px solid #464c54;
    border-bottom: 1px solid #ffffff;
}

.content {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #464c54;
}
#content_2, #content_3 {display:none;}
ul.tabs {
    margin: 0px; padding: 0px;
    margin-top: 5px;
    margin-bottom: 6px;
}

.content p {
    margin: 0px;
    padding: 0px 20px 0px 20px;
    list-style: none;
    border-bottom: 1px solid #d6dd30;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:13px;
    text-decoration: none;
}